.u-flex {
  display: flex !important;
}

.u-flexInline {
  display: inline-flex;
}

.u-flex-row {
  flex-direction: row !important;
}

.u-flex-rowReverse {
  flex-direction: row-reverse !important;
}

.u-flex-col {
  flex-direction: column !important;
}

.u-flex-colReverse {
  flex-direction: column-reverse !important;
}

.u-flex-wrap {
  flex-wrap: wrap !important;
}

.u-flex-noWrap {
  flex-wrap: nowrap !important;
}

.u-flex-wrapReverse {
  flex-wrap: wrap-reverse !important;
}

.u-flex-justify-start {
  justify-content: flex-start !important;
}

.u-flex-justify-end {
  justify-content: flex-end !important;
}

.u-flex-justify-center {
  justify-content: center !important;
}

.u-flex-justify-between {
  justify-content: space-between !important;
}

.u-flex-justify-around {
  justify-content: space-around !important;
}

.u-flex-alignItems-start {
  align-items: flex-start !important;
}

.u-flex-alignItems-end {
  align-items: flex-end !important;
}

.u-flex-alignItems-center {
  align-items: center !important;
}

.u-flex-alignItems-stretch {
  align-items: stretch !important;
}

.u-flex-alignItems-baseline {
  align-items: baseline !important;
}

.u-flex-alignContent-start {
  align-content: flex-start !important;
}

.u-flex-alignContent-end {
  align-content: flex-end !important;
}

.u-flex-alignContent-center {
  align-content: center !important;
}

.u-flex-alignContent-stretch {
  align-content: stretch !important;
}

.u-flex-alignContent-between {
  align-content: between !important;
}

.u-flex-alignContent-around {
  align-content: around !important;
}

.u-flex-alignSelf-start {
  align-self: flex-start !important;
}

.u-flex-alignSelf-end {
  align-self: end !important;
}

.u-flex-alignSelf-center {
  align-self: center !important;
}

.u-flex-alignSelf-stretch {
  align-self: stretch !important;
}

.u-flex-alignSelf-baseline {
  align-self: baseline !important;
}

.u-flex-alignSelf-auto {
  align-self: flex-auto !important;
}

.u-flex-order-first {
  order: -1 !important;
}

.u-flex-order-last {
  order: 1 !important;
}

.u-flex-order-none {
  order: 0 !important;
}

.u-flex-grow-1 {
  flex: 1 1 0% !important;
}

.u-flex-grow-2 {
  flex: 2 1 0% !important;
}

.u-flex-grow-3 {
  flex: 3 1 0% !important;
}

.u-flex-shrink-0 {
  flex-shrink: 0 !important;
}

.u-flex-shrink-1 {
  flex-shrink: 1 !important;
}

.u-flex-shrink-2 {
  flex-shrink: 2 !important;
}

.u-flex-shrink-3 {
  flex-shrink: 3 !important;
}

.u-flex-expand {
  margin: auto !important;
}

.u-flex-expand-left {
  margin-left: auto !important;
}

.u-flex-expand-right {
  margin-right: auto !important;
}

.u-flex-expand-top {
  margin-top: auto !important;
}

.u-flex-expand-bottom {
  margin-bottom: auto !important;
}

.u-pull-right {
  float: right;
}

.u-pull-left {
  float: left;
}

.u-clear {
  clear: both;
}

.u-upcase {
  text-transform: uppercase !important;
}

.u-capitalize {
  text-transform: capitalize !important;
}

.u-strike {
  text-decoration: line-through !important;
}

.u-break {
  word-break: break-word !important;
}

.u-wrap {
  white-space: normal !important;
}

.u-no-wrap {
  white-space: nowrap !important;
}

.u-pre-line {
  white-space: pre-line !important;
}

.u-no-select {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.u-bullets li {
  margin-left: 20px;
  margin-bottom: 10px;
  list-style-type: disc;
}

.u-fw-thin {
  font-weight: 100 !important;
}

.u-fw-light {
  font-weight: 300 !important;
}

.u-fw-medium {
  font-weight: 500 !important;
}

.u-fw-bold {
  font-weight: 700 !important;
}

.u-fw-black {
  font-weight: 900 !important;
}

.u-fs-normal {
  font-style: normal !important;
}

.u-fs-italic {
  font-style: italic !important;
}

.u-font-xs {
  font-size: 10px !important;
}

.u-font-sm {
  font-size: 12px !important;
}

.u-font-md {
  font-size: 14px !important;
}

.u-font-lg {
  font-size: 18px !important;
}

.u-font-xl {
  font-size: 24px !important;
}

.u-font-2x {
  font-size: 32px !important;
}

.u-overflow-hidden {
  overflow: hidden;
}

.u-overflow-auto {
  overflow: auto;
}

.u-absolute {
  position: absolute;
}

.u-relative {
  position: relative;
}

.u-fixed {
  position: fixed;
}

.u-align-left {
  text-align: left !important;
}

.u-align-center {
  text-align: center !important;
}

.u-align-right {
  text-align: right !important;
}

.u-align-top {
  vertical-align: top !important;
}

.u-align-middle {
  vertical-align: middle !important;
}

.u-align-bottom {
  vertical-align: bottom !important;
}

.u-align-middle-container::before {
  content: '\200B';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.u-align-middle-container .u-align-middle {
  display: inline-block;
}

.u-width-full {
  width: 100% !important;
}

.u-height-full {
  height: 100% !important;
}

.u-invisible {
  visibility: hidden !important;
}

.u-hide {
  display: none !important;
}

.u-block {
  display: block !important;
}

.u-inline {
  display: inline !important;
}

.u-inlineBlock {
  display: inline-block !important;
}

.u-table {
  display: table !important;
}

.u-tableCell {
  display: table-cell !important;
}

.u-visibility-target {
  visibility: hidden !important;
}
.u-visibility-trigger:hover .u-visibility-target {
  visibility: visible !important;
}

.u-display-target {
  display: none !important;
}
.u-display-trigger:hover .u-display-target {
  display: block !important;
}

.u-no-border {
  border: 0 !important;
}

.u-no-border-top {
  border-top: 0 !important;
}

.u-no-border-right {
  border-right: 0 !important;
}

.u-no-border-bottom {
  border-bottom: 0 !important;
}

.u-no-border-left {
  border-left: 0 !important;
}

.u-pointer {
  cursor: pointer;
}

.u-m {
  margin: 10px !important;
}

.u-m-xs {
  margin: 3px !important;
}

.u-m-vert-xs {
  margin-top: 3px !important;
  margin-bottom: 3px !important;
}

.u-m-horz-xs {
  margin-left: 3px !important;
  margin-right: 3px !important;
}

.u-m-sm {
  margin: 5px !important;
}

.u-m-vert-sm {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.u-m-horz-sm {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.u-m-md {
  margin: 10px !important;
}

.u-m-vert-md {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.u-m-horz-md {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.u-m-lg {
  margin: 15px !important;
}

.u-m-vert-lg {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.u-m-horz-lg {
  margin-left: 15px !important;
  margin-right: 15px !important;
}

.u-m-xl {
  margin: 20px !important;
}

.u-m-vert-xl {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.u-m-horz-xl {
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.u-m-2x {
  margin: 30px !important;
}

.u-m-vert-2x {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.u-m-horz-2x {
  margin-left: 30px !important;
  margin-right: 30px !important;
}

.u-m-3x {
  margin: 40px !important;
}

.u-m-vert-3x {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

.u-m-horz-3x {
  margin-left: 40px !important;
  margin-right: 40px !important;
}

.u-no-m {
  margin: 0 !important;
}

.u-no-m-vert {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.u-no-m-horz {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.u-m-top {
  margin-top: 10px !important;
}

.u-no-m-top {
  margin-top: 0 !important;
}

.u-m-top-xs {
  margin-top: 3px !important;
}

.u-m-top-sm {
  margin-top: 5px !important;
}

.u-m-top-md {
  margin-top: 10px !important;
}

.u-m-top-lg {
  margin-top: 15px !important;
}

.u-m-top-xl {
  margin-top: 20px !important;
}

.u-m-top-2x {
  margin-top: 30px !important;
}

.u-m-top-3x {
  margin-top: 40px !important;
}

.u-m-right {
  margin-right: 10px !important;
}

.u-no-m-right {
  margin-right: 0 !important;
}

.u-m-right-xs {
  margin-right: 3px !important;
}

.u-m-right-sm {
  margin-right: 5px !important;
}

.u-m-right-md {
  margin-right: 10px !important;
}

.u-m-right-lg {
  margin-right: 15px !important;
}

.u-m-right-xl {
  margin-right: 20px !important;
}

.u-m-right-2x {
  margin-right: 30px !important;
}

.u-m-right-3x {
  margin-right: 40px !important;
}

.u-m-bottom {
  margin-bottom: 10px !important;
}

.u-no-m-bottom {
  margin-bottom: 0 !important;
}

.u-m-bottom-xs {
  margin-bottom: 3px !important;
}

.u-m-bottom-sm {
  margin-bottom: 5px !important;
}

.u-m-bottom-md {
  margin-bottom: 10px !important;
}

.u-m-bottom-lg {
  margin-bottom: 15px !important;
}

.u-m-bottom-xl {
  margin-bottom: 20px !important;
}

.u-m-bottom-2x {
  margin-bottom: 30px !important;
}

.u-m-bottom-3x {
  margin-bottom: 40px !important;
}

.u-m-left {
  margin-left: 10px !important;
}

.u-no-m-left {
  margin-left: 0 !important;
}

.u-m-left-xs {
  margin-left: 3px !important;
}

.u-m-left-sm {
  margin-left: 5px !important;
}

.u-m-left-md {
  margin-left: 10px !important;
}

.u-m-left-lg {
  margin-left: 15px !important;
}

.u-m-left-xl {
  margin-left: 20px !important;
}

.u-m-left-2x {
  margin-left: 30px !important;
}

.u-m-left-3x {
  margin-left: 40px !important;
}

.u-p {
  padding: 10px !important;
}

.u-p-xs {
  padding: 3px !important;
}

.u-p-vert-xs {
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}

.u-p-horz-xs {
  padding-left: 3px !important;
  padding-right: 3px !important;
}

.u-p-sm {
  padding: 5px !important;
}

.u-p-vert-sm {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.u-p-horz-sm {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.u-p-md {
  padding: 10px !important;
}

.u-p-vert-md {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.u-p-horz-md {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.u-p-lg {
  padding: 15px !important;
}

.u-p-vert-lg {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.u-p-horz-lg {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.u-p-xl {
  padding: 20px !important;
}

.u-p-vert-xl {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.u-p-horz-xl {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.u-p-2x {
  padding: 30px !important;
}

.u-p-vert-2x {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.u-p-horz-2x {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.u-p-3x {
  padding: 40px !important;
}

.u-p-vert-3x {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

.u-p-horz-3x {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.u-no-p {
  padding: 0 !important;
}

.u-no-p-vert {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.u-no-p-horz {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.u-p-top {
  padding-top: 10px !important;
}

.u-no-p-top {
  padding-top: 0 !important;
}

.u-p-top-xs {
  padding-top: 3px !important;
}

.u-p-top-sm {
  padding-top: 5px !important;
}

.u-p-top-md {
  padding-top: 10px !important;
}

.u-p-top-lg {
  padding-top: 15px !important;
}

.u-p-top-xl {
  padding-top: 20px !important;
}

.u-p-top-2x {
  padding-top: 30px !important;
}

.u-p-top-3x {
  padding-top: 40px !important;
}

.u-p-right {
  padding-right: 10px !important;
}

.u-no-p-right {
  padding-right: 0 !important;
}

.u-p-right-xs {
  padding-right: 3px !important;
}

.u-p-right-sm {
  padding-right: 5px !important;
}

.u-p-right-md {
  padding-right: 10px !important;
}

.u-p-right-lg {
  padding-right: 15px !important;
}

.u-p-right-xl {
  padding-right: 20px !important;
}

.u-p-right-2x {
  padding-right: 30px !important;
}

.u-p-right-3x {
  padding-right: 40px !important;
}

.u-p-bottom {
  padding-bottom: 10px !important;
}

.u-no-p-bottom {
  padding-bottom: 0 !important;
}

.u-p-bottom-xs {
  padding-bottom: 3px !important;
}

.u-p-bottom-sm {
  padding-bottom: 5px !important;
}

.u-p-bottom-md {
  padding-bottom: 10px !important;
}

.u-p-bottom-lg {
  padding-bottom: 15px !important;
}

.u-p-bottom-xl {
  padding-bottom: 20px !important;
}

.u-p-bottom-2x {
  padding-bottom: 30px !important;
}

.u-p-bottom-3x {
  padding-bottom: 40px !important;
}

.u-p-left {
  padding-left: 10px !important;
}

.u-no-p-left {
  padding-left: 0 !important;
}

.u-p-left-xs {
  padding-left: 3px !important;
}

.u-p-left-sm {
  padding-left: 5px !important;
}

.u-p-left-md {
  padding-left: 10px !important;
}

.u-p-left-lg {
  padding-left: 15px !important;
}

.u-p-left-xl {
  padding-left: 20px !important;
}

.u-p-left-2x {
  padding-left: 30px !important;
}

.u-p-left-3x {
  padding-left: 40px !important;
}
